@model IEnumerable<Data.DTO.Common.PortfolioDTO>
@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<main id="main">

    <!-- ======= Breadcrumbs ======= -->

    @await Html.PartialAsync("_Breadcrumbs")


    <section class="inner-page">
        <div class="container">
            <!-- ======= Portfolio Section ======= -->
            <section id="portfolio" class="portfolio">
                <div class="container">

                    <div class="section-title">
                        <span>Portfolio</span>
                        <h2>Portfolio</h2>
                        
                    </div>
                     
                    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">
                        @foreach (var item in Model)
                        {

                            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                <img src="~/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>@item.Name</h4>
                                    <p>@item.Category</p>
                                    <a href="~/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        }


                       

                    </div>

                </div>
            </section><!-- End Portfolio Section -->
        </div>
    </section>

</main><!-- End #main -->