@model IEnumerable<Data.DTO.Common.PortfolioDTO>
@{
    ViewData["Title"] = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<main class="main">
    <div class="page-header text-center" style="background-image: url('../images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Blog Mask Grid<span>Blog</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->


    <div class="page-content mt-4">
        <div class="container">
           
            <div class="entry-container" data-layout="fitRows" style="position: relative; height: 1260px;">
                @foreach (var item in Model)
                {
                    <div class="entry-item @item.Category  col-sm-6 col-lg-4" >
                        <article class="entry entry-mask">
                            <figure class="entry-media">
                                <a href="single.html">
                                    <img src="~/images/blog/mask/grid/post-1.jpg" alt="image desc">
                                </a>
                            </figure><!-- End .entry-media -->

                            <div class="entry-body">
                                <div class="entry-meta">
                                    <a href="#">@item.CompletionTime</a>
                                    <span class="meta-separator">|</span>
  
                                </div><!-- End .entry-meta -->

                                <h2 class="entry-title">
                                    <a href="single.html">@item.Name</a>
                                </h2><!-- End .entry-title -->

                                <div class="entry-cats">
                                    in <a href="#">@item.Category</a>
                                </div><!-- End .entry-cats -->
                            </div><!-- End .entry-body -->
                        </article><!-- End .entry -->
                    </div><!-- End .entry-item -->
                }

                 
                </div><!-- End .entry-container -->

            <div class="mb-3"></div><!-- End .mb-3 -->

             
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main>