
@{
    ViewData["Title"] = "نحوه ثبت سفارش";
}
<main class="page-OrderReq">
    <div class="container text-center ">
        <h5 class="ReqOrder">نحوه ثبت سفارش در فروشگاه فیتنس مال</h5>

        <div class="ReqOrder2">
            <ul>

                <li class="response1">1.روی گزینه "ورود - ثبت نام" کلیک کنید.</li>
                <li class="response1">2.محصول مورد نظر خود را جستجو کنید.</li>
                <li class="response1">3. پس از انتخاب رنگ و فروشنده کالا  روی " افزودن به سبد" کلیک کنید.</li>
                <li class="response1">
                    4. شما میتوانید تعداد کالا را افزایش یا کاهش دهید .<br />
                    همچنین امکان حذف کالا از سبد وجود دارد .
                </li>
                <li class="response1">
                    5. آدرس تحویل سفارش خود را انتخاب نمایید.
                    <br />
                    امکان تغییر یا ویرایش ادرس در این مرحله وجود دارد .
                </li>
                <li class="response1">
                    6. در این مرحله امکان ثبت آدرس جدید و یا ویرایش آدرس های قبل وجود دارد. جهت افزودن آدرس جدید، موقعیت آدرس خود را روی نقشه انتخاب کنید.
                    <br />
                    سپس آدرس و مشخصات تحویل گیرنده را ثبت نمایید.
                </li>
                <li class="response2">7. برای تکمیل خرید خود شیوه ارسال و بازه زمانی سفارش خود را انتخاب کنید.</li>
                <li class="response2">- هزینه ارسال تمام سفارشات عادی در ارسال اکسپرس  تهران و شهرستان ها  30,000 تومان میباشد.</li>
                <li class="response2">
                    -- هزینه ارسال تمام سفارشات از طریق پست پیشتاز 29,000 تومان

                    میباشد
                </li>
                <li class="response2">- - هزینه ارسال کالاهای سنگین ارسالی با باربری  براساس وزن و ابعاد کالا محاسبه میشود و مبلغ آن بصورت پس کرایه درب آدرس دریافت میشود.</li>
                <li class="response1">
                    8. در آخرین مرحله میتوانید شیوه پرداخت سفارش خود را انتخاب کنید.
                    <br />
                    چنانچه کد تخفیف و یا کارت هدیه دارید در قسمت مشخص شده ثبت نمایید.
                </li>
                <li class="response1">9. سفارش شما با موفقیت ثبت شد، سیستم به شما یک کد  پیگیری با سه حرف اول FTC نمایش میدهد.</li>

            </ul>





        </div>




    </div>
</main>