
@{
    ViewData["Title"] = "شیوه های پرداخت";
}

<main class="page-OrderReq">
            <div class="container text-center ">
                <h5 class="ReqOrder">شیوه های پرداخت در فروشگاه فیتنس مال</h5>
              
                <div class="ReqOrder2">
                    <ul>
                        <li class="response1">1.پرداخت از طریق اعتبار کیف پول </li>
                        <li class="response1">2.پرداخت از طریق درگاه امن </li>
                        <li class="response2">3.    در صورت داشتن شرایط زیر از پرداخت در محل نمی توانید استفاده کنید.</li>
                        <li class="response2">-یرای پرداخت بالای دو میلیون تومان نمیتوانید پرداخت در محل داشته باشید </li>
                        <li class="response2">-سفارش شما با باربری ارسال شود.</li>


                    </ul>
                  
 
 
    
                </div>
   

  

            </div>
            </main>

