@model Data.DTO.Address.CityDTO

@Html.HiddenFor(c => c.Id)
@Html.HiddenFor(c => c.IsActive)
@Html.HiddenFor(c => c.DateInsert)
@Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />

    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label asp-for="ProvinceId">استان</label>
                <select asp-for="ProvinceId" asp-items="Model.ListProvince" class="form-control input-rounded SearchDropDown">
                    <option>انتخاب نمایید</option>
                </select>
            </div>
            <div class="col-md-6">
                <label asp-for="Name">نام شهر</label>
                <input asp-for="Name" type="text" class="form-control input-rounded" />
            </div>
        </div>
    </div>
</div>
