@model Data.DTO.Blog.BlogDTO
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<div class="page-wrapper">
    @await Html.PartialAsync("_DashboardTitle")
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-primary">
                    <div class="card-header">
                        <h4 class="m-b-0 text-white">Form @ViewData["Title"]</h4>
                    </div>
                    <div class="card-body">
                        <form asp-controller="@controllerName" asp-action="Create" method="post" id="proForm" enctype="multipart/form-data">

                            @await Html.PartialAsync("_Form")

                            <hr />
                            <div class="row">
                                <button type="submit" class="btn m-btn--pill m-btn--air btn-success mr-2 color-white cursor-pointer">ثبت</button>
                                <a asp-controller="@controllerName" asp-action="Index" class="btn m-btn--pill m-btn--air btn-danger color-white cursor-pointer">بازگشت</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>