@model Data.DTO.Common.ServiceDTO

@Html.HiddenFor(c => c.Id)
@Html.HiddenFor(c => c.IsActive)
@Html.HiddenFor(c => c.DateInsert)
@Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control input-rounded" />
        </div>
        <div class="col-md-6">
            <label asp-for="Icone"></label>
            <input asp-for="Icone" type="text" class="form-control input-rounded" />
        </div>
    </div>
     <div class="row">
        <div class="col-md-12">
            <label asp-for="Decription"></label>
            <input asp-for="Decription" type="text" class="form-control input-rounded" />
        </div>
    </div>
</div>
</div>
