@model Data.DTO.BaseProduct.DetailsItemDTO

@Html.HiddenFor(c => c.Id)
@Html.HiddenFor(c => c.IsActive)
@Html.HiddenFor(c => c.DateInsert)
@Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label asp-for="SubTopic">آیتم</label>
                <input asp-for="SubTopic" type="text" class="form-control input-rounded" />
                <input asp-for="DetailsId" type="hidden"  />
            </div>
        </div>
    </div>
</div>
