@model IEnumerable<Data.DTO.Common.ServiceDTO>
@{
    ViewData["Title"] = "Service";
}


 

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    @await Html.PartialAsync("_Breadcrumbs")


    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <span>Services</span>
                <h2>Services</h2>
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="icon-box">
                            <div class="icon"><i class="@item.Icone"></i></div>
                            <h4><a href="">@item.Name</a></h4>
                            <p>@item.Decription</p>
                        </div>
                    </div>
                }

            </div>
        </div>
    </section><!-- End Services Section -->

</main><!-- End #main -->
<!-- ======= Services Section ======= -->
